<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>
        Section 1
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color= "medium">
      <video autoplay muted loop id="myVideo">
          <source src="/assets/quiz.mp4" type="video/mp4">
          </video>
  
      <ion-card color="tertiary">
  
          <ion-card-header>
          General Knowledge<br>
          Question 4
          
          </ion-card-header>
          
          <ion-card-content>
          
            The chemical name of Chloroform is <br><br>

            Count Down:&nbsp;{{displayTime}}
          
          </ion-card-content>
          
        </ion-card>
  
  <ion-card color="tertiary">
      <ion-list>
          <ion-radio-group [(ngModel)]="answer4">
            <ion-list-header>
              Answers:
            </ion-list-header>
        
            <ion-item>
              <ion-label>1 - Sulphuric acid</ion-label>
              <ion-radio value="Sulphuric acid"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>2 – Sodium Chloride</ion-label>
              <ion-radio value="Sodium Chloride"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>3 – Sodium Carbonate</ion-label>
              <ion-radio value="Sodium Carbonate"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>4 – Trichloromethane</ion-label>
              <ion-radio value="Trichloromethane"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>5 – Sodium Benzoate</ion-label>
              <ion-radio value="Sodium Benzoate"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
            </ion-card>
  
              <ion-button color="tertiary" shape="round" expand="full" (click)=goNext()>SUBMIT</ion-button>
  
  
  
  </ion-content>
  
  <ion-footer>
      <ion-toolbar color="tertiary">
        <ion-title>Quiz App</ion-title>
      </ion-toolbar>
    </ion-footer>
  

