#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color:#7044ff;}
