<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
        Section 3
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  <ion-content color= "secondary">
      <video autoplay muted loop id="myVideo">
          <source src="/assets/quiz2.mp4" type="video/mp4">
          </video>
  
      <ion-card color="secondary">
  
          <ion-card-header>
          Soccer<br>
          Question 1<br><br>
          <ion-progress-bar color="primary" value="{{stat}}" ></ion-progress-bar>
          
          </ion-card-header>
          
          <ion-card-content>
          
          Who won the 1994 FIFA World Cup<br><br>

          Count Down:&nbsp;{{displayTime}}
          
          </ion-card-content>
          
        </ion-card>
  
  <ion-card color="secondary">
      <ion-list>
          <ion-radio-group [(ngModel)]="answer11">
            <ion-list-header>
              Answers:
            </ion-list-header>
    
            <ion-item>
              <ion-label>1 - Italy</ion-label>
              <ion-radio value="Italy" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>2 – Argentina</ion-label>
              <ion-radio value="Argentina"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>3 – Germany</ion-label>
              <ion-radio value="Germany"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>4 – France</ion-label>
              <ion-radio value="France"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>5 – Brazil</ion-label>
              <ion-radio value="Brazil"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
            </ion-card>
  
              <ion-button color="secondary" shape="round" expand="full" (click)="goNext()" >SUBMIT</ion-button>
  
  
  
  </ion-content>
  
  <ion-footer>
      <ion-toolbar color="secondary">
        <ion-title>Quiz App</ion-title>
      </ion-toolbar>
    </ion-footer>
  

