<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
        Section 3
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  <ion-content color= "secondary">
      <video autoplay muted loop id="myVideo">
          <source src="/assets/quiz2.mp4" type="video/mp4">
          </video>
  
      <ion-card color="secondary">
  
          <ion-card-header>
          Soccer<br>
          Question 5
          
          </ion-card-header>
          
          <ion-card-content>
          
          Which team won the African cup of Nations 2019<br><br>

          Count Down:&nbsp;{{displayTime}}
          
          </ion-card-content>
          
        </ion-card>
  
  <ion-card color="secondary">
      <ion-list>
          <ion-radio-group [(ngModel)]="answer15">
            <ion-list-header>
              Answers:
            </ion-list-header>
    
            <ion-item>
              <ion-label>1 - Egypt</ion-label>
              <ion-radio value="Egypt" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>2 – Algeria</ion-label>
              <ion-radio value="Algeria"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>3 – South Africa</ion-label>
              <ion-radio value="South Africa"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>4 – Nigeria</ion-label>
              <ion-radio value="Nigeria"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>5 – Mali</ion-label>
              <ion-radio value="Mali"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
            </ion-card>
  
              <ion-button color="secondary" shape="round" expand="full" (click)="goNext()" >SUBMIT</ion-button>
  
  
  
  </ion-content>
  
  <ion-footer>
      <ion-toolbar color="secondary">
        <ion-title>Quiz App</ion-title>
      </ion-toolbar>
    </ion-footer>
  

