
    <video autoplay muted loop id="myVideo">
            <source src="/assets/quiz.mp4" type="video/mp4">
            </video>


<ion-card color="medium" class="bottom">
    <ion-card-header color="tertiary">
        
        Quiz App
        
    </ion-card-header>

    <ion-card-content color="medium">
        <br>
        <b>Welcome to quiz app</b><br>
        In order to get started press start
        <br><br>
        <b>Rules</b><br>
        1.This quiz consists of 3 sections.<br>
        2.Answer each question by selecting from the given options.<br>
        3.Only one answer is correct and only one option can be selected.<br>
        4.In order for you to get your results on the last page you must click on show total.
        
    </ion-card-content>



    <ion-button color="tertiary" shape="round" expand="full" (click)="onStart()">Start</ion-button>

</ion-card>