<ion-header>
    <ion-toolbar color="medium">
      <ion-title>
        Section 2
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  
  <ion-content color= "medium">
      <video autoplay muted loop id="myVideo">
          <source src="/assets/quiz4.mp4" type="video/mp4">
          </video>
  
      <ion-card color="medium">
  
          <ion-card-header>
          Plural Form<br>
          Question 1<br><br>
          <ion-progress-bar color="primary" value="{{stat}}" ></ion-progress-bar>
          
          </ion-card-header>
          
          <ion-card-content>
          
          Tense of "Thulani is typing"<br><br>

          Count Down:&nbsp;{{displayTime}}
          
          </ion-card-content>
          
        </ion-card>
  
  <ion-card color="medium">
      <ion-list>
          <ion-radio-group [(ngModel)]="answer6">
            <ion-list-header>
              Answers:
            </ion-list-header>
    
            <ion-item>
              <ion-label>1 - simple past</ion-label>
              <ion-radio value="simple past" ></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>2 – simple present</ion-label>
              <ion-radio value="simple present"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>3 – present continous</ion-label>
              <ion-radio value="present continous"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>4 – past perfect</ion-label>
              <ion-radio value="past perfect"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>5 – past tense</ion-label>
              <ion-radio value="past tense"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
            </ion-card>
  
              <ion-button color="medium" shape="round" expand="full" (click)="goNext()" >SUBMIT</ion-button>
  
  
  
  </ion-content>
  
  <ion-footer>
      <ion-toolbar color="medium">
        <ion-title>Quiz App</ion-title>
      </ion-toolbar>
    </ion-footer>
  
